@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "daisyui" {
  themes: dark --default;
}

@theme {
  --color-primary: #6366f1;
  --color-primary-content: #ffffff;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100dvh;
}
