---

---

<section id="get-started" class="py-20 px-4">
  <div class="max-w-3xl mx-auto text-center">
    <h2 class="text-3xl sm:text-4xl font-bold mb-4">
      Get started in minutes
    </h2>
    <p class="text-base-content/60 mb-10 max-w-xl mx-auto">
      Deploy Mydia with Docker Compose. Point it at your media and you're done.
    </p>
    <a
      href="https://getmydia.github.io/mydia/latest/"
      target="_blank"
      rel="noopener noreferrer"
      class="btn btn-primary btn-lg"
    >
      Read the docs
      <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd" d="M4.25 5.5a.75.75 0 00-.75.75v8.5c0 .414.336.75.75.75h8.5a.75.75 0 00.75-.75v-4a.75.75 0 011.5 0v4A2.25 2.25 0 0112.75 17h-8.5A2.25 2.25 0 012 14.75v-8.5A2.25 2.25 0 014.25 4h5a.75.75 0 010 1.5h-5zm7.25-.75a.75.75 0 01.75-.75h3.5a.75.75 0 01.75.75v3.5a.75.75 0 01-1.5 0V6.31l-5.47 5.47a.75.75 0 11-1.06-1.06l5.47-5.47H12.25a.75.75 0 01-.75-.75z" clip-rule="evenodd" />
      </svg>
    </a>
  </div>
</section>
